
/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/image1.png');
    background-size: cover; /* Ensure the background image covers the whole page */
    background-position: center; /* Center the background image */
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Header styling */
h1 {
    background-color: rgba(53, 70, 5, 0.7); /* Transparent background for the header */
    color: white; /* White text */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Additional styling to center the content on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

           